<div class="container">
    <h1 class="col-lg-6 col-md-10 col-sm-10">Edit <%= tournament.Name %></h1>
    <hr>
    <div id="messageArea"></div>

    <div class="row justify-content-lg-center g-3">
      <form method="POST" class="col-lg-6 col-md-10 col-sm-10">

        <div class="input-group mb-3">
          <span class="input-group-text">Tournament Name: </span>
          <input id="name" name="name" type="text" class="form-control" 
          value="<%= tournament.Name %>"
          aria-label="Tournament Name" aria-describedby="Tournament Name Input" required>
        </div>
        
        <% if(title == "Edit") { %>
        <button id="editButton" type="submit" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
        <td class="text-center"><a href="/delete/<%=tournament.id_%>" class="btn btn-danger deleteOnEdit"><i class="fa-solid fa-trash-can"></i> Delete</a></td>
        <% } else {%>
        <button id="addButton" type="submit" class="btn btn-primary"><i class="fas fa-plus-circle fa-lg"></i> Add</button>
        <% } %>  

        <a href="/home" id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</a>
      
      </form>

    </div>
</div>