<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, I am Fahmid Ovi.  </h1> 
         <h1 class="display-5">Welcome to my portfolio site!</h1> 
        <p class="lead">I am a student in Software Engineering Technician at Centennial College, who is passionate about web development and wants to pursue a career as a successful software engineer.</p>
        
        <hr class="my-4">
        <p>To know more about me click the button below. Thank you.</p>
        <a class="btn btn-primary btn-md" href="/about" role="button">About me</a>
      </div>
</div>
