$primary: #ffdd60;	
$info: #4258ff;
$danger: #ff3640;
$warning: #36ff69;
$link-color: #4258ff;
$link-hover-color: #828ac7;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
/* ------- customize primary buttons -------- */   


